.Footer {
  background-color: #111;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 50px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    .footer1 {
      flex: 1;
      h2 {
        font-family: Merriweather;
        font-size: 32px;
        font-style: italic;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
        color: #fff;
      }
      p {
        //styleName: Inter/Heading/H6/18/Medium;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #878787;
        padding-top: 16px;
      }
    }

    .footer-links {
      display: flex;
      flex: 2;
      justify-content: space-around;
      ul {
        list-style: none;
        padding: 0;
        li {
          padding-bottom: 12px;
          a {
            //styleName: Inter/Heading/H6/18/Medium;
            font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #ffffff;
          }
        }
      }
    }

    .social-media {
      flex: 1;
      text-align: center;

      h4 {
        font-size: 16px;
        margin-bottom: 10px;
        color: #fff;
      }
      .social-icons {
        display: flex;
        justify-content: center;
        gap: 10px;

        svg {
          color: #ccc;
          font-size: 20px;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
